@media only screen {

	.home {
		width: 100%;
		height: 100%;
		position: relative;
		background-color: $grey;
	}

	.home-downArrow {
		position: absolute;
		bottom: 0;
		padding: 1rem;
		cursor: pointer;
		left: 50%;
		@include transform(translateX(-50%));
		i {
			color: $red;
			font-size: 4rem;
			pointer-events: none;
		}
	}

	// wraps the two logo images (chicken and title)
	.home-mainWrap {
		@include centerer;
		// space out logo elements vertically
		> div {
			margin: 2rem auto;
		}
	}

	// homepage call2action buttons (takeout/delivery)
	.home-mainWrap-buttons{
		text-align: center;
	}
	.home-mainWrap-buttons-button{
		@include font-size(20);
		color: $red;
		text-decoration: none;
		font-family: $headerFont;
		text-transform: uppercase;
		padding: 18px 20px 10px 20px;
		background-color: white;
		display: inline-block;
		border: 1px solid $red;
		border-radius: 4px;
		&:nth-child(1){
			float: left;
		}
		&:nth-child(2){
			float: right;
		}
		@include transition(all 0.4s ease);
		&:hover {
			color: white;
			background: $red;
			border: 1px solid white;
		}
	}
	div.home-mainWrap-locationinfo{
		margin: 0px;
	}
	.home-mainWrap-locationinfo-address,
	.home-mainWrap-locationinfo-phone{
		font-family: $copyFont;
		text-align: center;
		display: block;
		color: black;
	}
	.home-mainWrap-locationinfo-phone{
		margin-top: 10px;
		font-size: 2rem;
		text-decoration: none;
		margin-bottom: -10px;
	}

	// chicken logo
	.logo {
		@include transition(all 0.4s ease);
		width: calc(670px * 0.25);
		height: calc(1040px * 0.25);
		height: 200px;
		background: url(../../library/img/mobile-chicken.png);
		@include bgCover;
		margin: 0 auto;
		background-size: contain;
	}
	
	.sitetitle {
		background: url(../../library/img/mobile-logo.png);
		@include bgCover;
		width: calc(1200px * 0.25);
		height: calc(253px * 0.25);
		margin: 0 auto;
		position: relative;
		top: 15%;
		@include transition(all 0.4s ease);

	}


}


@media only screen and (min-width: $medium) {

}
@media only screen and (min-width: $large) {
	.home-mainWrap-buttons{
		display: none;
	}
	.home-mainWrap{
		top: 40%;
	}
	.home-mainWrap-locationinfo-phone{
		margin-bottom: 0px;
		top: 20px;
		position: relative;
		font-size: 3rem;
	}
	.home {
		.logo {
			width: calc(670px * 0.38);
			height: 35vh;
		}
	}
	.sitetitle {
		width: calc(1200px * 0.4);
		height: calc(253px * 0.4);
		margin-top: 4rem;
	}
}



