@media only screen {


	.instagram-banner {
		margin: 1rem 0;
		padding: 1.5rem 0 1rem 0;
		position: relative;
		background: $red;
		width: 100%;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 2.4rem;
		color: white;
		font-family: $headerFont;
		display: block;
	}

	.instagram-featured-tile {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: auto;
		display: block;
		&:nth-child(n+5){
			display: none;
		}
	}
	.instagram-featured-tile-image{
		width: 100%;
		height: auto;
	}

	/* 
	 	'Simple-Lightbox' Gallery
	 		Custom CSS-Specificity overrides
	*/
	.sl-wrapper {
		.sl-close {			
		}
		.sl-navigation {
			.sl-next,
			.sl-prev {
				i {
					font-size: 6rem;
				}
			}
		}
		.sl-image {
			.sl-caption {
				text-align: center;
				font-family: $headerFont;
				text-transform: uppercase;
				background: $red;
			}
		}
	}

}

@media only screen and (min-width: $medium ) {

	.instagram-featured-wrapper {
		text-align: center;
		font-size: 0;
	}
	.instagram-featured-tile {
		display: inline-block;
	}
	.instagram-featured-tile{
		width: 50%;
	}

}
@media only screen and (min-width: $large ) {
	.instagram-featured-wrapper{
		padding: 0px 1px 1px 1px;
	}
	.instagram-featured-tile{
		&:nth-child(n+5){
			display: inline-block;
		}
		&.tile-6{
			width: calc(100% / 3);	
		}
		&.tile-8{
			width: 25%;
		}
		img{
			padding: 1px;
		}
	}
}