@media only screen {

	.footer-wrapper {
		width: 100%;
		background: $red;
		text-align: center;
		font-family: $headerFont;
		// css-override logo from homepage
		.logo {
			width: calc(670px * 0.15);
			height: calc(1040px * 0.15);
		}
	}

	.footer-subFooter{
		a, a:visited {
			color: white;
			text-decoration: none;
		}
	}
	
	.footer-buttons-wrapper {
		// enable hovers:
		.footer-buttons {
			text-align: center;
			border: 1px solid transparent;
			@include transition(all 0.4s ease);
			&:hover {
				background: $red;
				color: white;
				border: 1px solid white;
			}
		}
	}
	.footer-main {
		padding: 40px 0;
	}
	
	.footer-buttons {
		background: white;
		cursor: pointer;
		padding: 2rem 4rem 1.5rem 4rem;
		margin: 1rem 2rem;
		text-decoration: none;
		color: $red;
		font-weight: bold;
		font-size: 2.6rem;
		text-transform: uppercase;
		display: block;
	}
	
	.footer-contactInfo {
		color: white;
		padding: 5%;
		h3 {
			text-transform: uppercase;
			margin-bottom: 1rem;
			letter-spacing: 1px;
		}
		p {
			letter-spacing: 1px;
			line-height: 150%;
			font-size: 1.8rem;
		}
		a{
			color: white;
			text-decoration: none;
		}
	}
	
	// the darkened bottom 'fixed' bar
	.footer-subFooter {
		position: relative;
		width: 100%;
		padding: 20px 0;
		background: transparentize(black, 0.75);
		// the text lines
		p {
			font-size: 1.6rem;
		}
		// the 'links'
		span {
			margin: 0 5px;
			text-transform: uppercase;
			cursor: pointer;
		}
		// layout wrapper for subfooter content links:
	}
	.footer-linkwrapper {
		padding: 1rem;
		width: 100%;
		// position: relative;
		// top: 50%;
		// @include transform(translateY(-50%));
		color: white;
		a{
			padding: 15px 20px 10px 20px;
		    display: block;
		    width: 150px;
		    margin: 20px auto 0 auto;
		    font-size: 2rem;
		}
	}


	
	.footer-acfSocial {
		padding: 1rem 0;
		width: 100%;
		a {
			margin: 0 1rem;
			i {
				font-size: 2.6rem;
			}
		}
		// layout wrapper for subfooter content links:
	}

}

@media only screen and (min-width: $medium) {

	// layout footer buttons for widescreen
	.footer-buttons{
		display: inline-block;
	}


}
@media only screen and (min-width: $large) {
	

	.footer-main-centerer {
		> div {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			margin: 0 5%;
		}
		.logo {
			width: calc(670px * 0.3);
			height: calc(1040px * 0.3);
		}
	}


	.footer-subFooter {
		position: relative;
		text-align: left;
		min-height: 6.8rem;
		padding: 0px;
	}

	.footer-acfSocial {
		position: relative;
		text-align: center;
		padding: 0;
		float: right;
		right: 10%;
		width: auto;
		top: 1.6rem;
		a {
			position: relative;
			margin: 0rem;
			i {
				@include transition(all 0.4s ease);
				border: 1px solid transparent;
				font-size: 2.6rem;
				padding: 1.2rem;
				min-width: 5.5rem;
			}
		}
		// behavior:
		a:hover {
			i {
				color: $red;
				background: white;
			}
		}
	}
	
	.footer-linkwrapper {
		width: auto;
		display: inline-block;
		position: relative;
		left: 10%;
		padding: 2rem;
		a{
			display: inline-block;
			font-size: 1.6rem;
			margin: 0px;
			margin-left: 10px;
			width: auto;
			padding-left: 0px;
			margin-left: 5px;
			&:after{
				content: '';
				@include transition(border-bottom-color 0.25s ease, width 0.25s ease);
				width: 0%;
				position: relative;
				top: 3px;
				border-bottom: 1px solid transparent;
				display: block;
				left: 50%;
				@include transform(translateX(-50%));
			}
			&:hover{
				&:after{
					width: 100%;
					border-bottom-color: white;
				}
			}
		}
	}




	// location / address
	.footer-contactInfo{
		font-family: $headerFont;
		// company name
		h3 {
			text-transform: uppercase;
			font-size: 3rem;
			margin-bottom: 1rem;
		}
		p{
			font-size: 2rem;
			letter-spacing: 1px;
		}
	}
}
