@mixin cover-background($img-uri:"", $background-top:"center", $background-left:"center", $background-attachment:"scroll") {
	background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}
@mixin font-size($sizeValue: 16) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}
@mixin transform($transforms) {
		 -moz-transform: $transforms;
			 -o-transform: $transforms;
			-ms-transform: $transforms;
	-webkit-transform: $transforms;
					transform: $transforms;
}
@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}


@mixin bgCover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin afterLine {
	@include transition(all 0.3s ease);
	content: '';
	display: block;
	width: 0px;
	opacity: 0;
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	// color:
	height: 1px;
}

@mixin inbCenter {
	text-align: justify;
	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
	}
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}